.nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    min-height: 10vh;
    color:white;
    background-color: rgb(47, 37, 56);
    position: sticky;
    z-index: 10;
    top:0;
}
.right{
display: flex;
flex:0.2;
min-width: 10vw;

}
.right .icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}